/*a {
font-weight:bold;
}*/

a:link {
	color: orange;
}

a:visited {
	color: orange;
}

/*a:active {
color:#33CC00;
}*/

body{
  font: "Hiragino Kaku Gothic Pro",Osaka,"メイリオ","ＭＳ Ｐゴシック","MS PGothic",Verdana,Arial,sans-serif;
  height: 100vh;
  /*padding: 4em;*/
  color: rgba(255,255,255,.75); 
  /*background-color: rgb(25,25,25);  
  background-color: white;
  letter-spacing: 10px; /*文字と文字の間隔をあける
  border-right: solid 60px white;
  border-left: solid 60px white;*/
  background: linear-gradient(-45deg, rgba(200, 200, 200, .5), rgba(100, 200, 250, .5)) fixed,
  url(image/log_scale.jpg) no-repeat center center;
  background-size: cover;
  letter-spacing: 10px;
  border-bottom: 0;
  margin: 0;
}


.line-1{
    position: relative;
    top: 10%;  
    width: 17em;
    margin: 0 auto;
    /*border-right: 2px solid rgba(255,255,255,.75);*/
    border-right: 3px solid #000;
    font-size: 250%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    color: white;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
 blinkTextCursor 600ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 18.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: #000;}
  to{border-right-color: transparent;}
}



/*****NAV*****/
nav{
	font-family: sans-serif;
	width: 100vw;	/*横幅の指定*/
	/*border-top: 1px solid orange;	上部の線の色を指定*/
	/*border-bottom: 1px solid orange;	下部の線の色を指定*/
	margin-bottom: 5px;	/**/
	overflow: hidden;	/*おまじない*/
}
nav ul{
	width: 20vw;	/*横幅の指定*/
	margin: auto;	/*中央に配置する*/
	list-style: none; /*リストのスタイルを削除*/
}
nav li{
	width: calc(100% / 1);	/*横幅の指定*/
	/*border-left: 1px solid orange;	線を描く*/
	box-sizing: border-box; /*線の幅をliの横幅に含める*/
	text-align: center;	/*文字を中央に*/
	float: left;	/*左から並べる*/
}
/*nav li:last-child{
	border-right: 1px solid orange;	/*li要素の最後の物は右側に線を描く
}*/
nav a{
	display: block;	/*1つのli全体にリンクを有効にする*/
	background-color: white;
	text-decoration: none;	/*ブラウザ標準のリンク装飾をオフに*/
	color:#313131;	/*文字色の変更*/
	font-size: 110%;	/*フォントサイズの指定*/
	letter-spacing: 1px;	/*文字と文字の間隔をあける*/
	font-weight: 400;	/*文字の太さを調整*/
	line-height: 45px;	/*行間の指定（ナビボタンの高さ指定）*/
}
nav a:hover{
	background-color: orange;	/*背景色の指定*/
	color: #fff;	/*文字色の変更*/
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;	/*ホバー時の動きをなめらかにする*/
}

.vertical-middle{
  height: 100vh;
  display: table-cell; /* インライン要素にすることで横に回り込む*/
  vertical-align: middle; /* 上下中央に寄せる */
}

/*スマホ用*/
@media screen and (max-width: 480px) {
  * {
    float: none;
    position: static;
  }
  body {
    letter-spacing: 2px;
    background: linear-gradient(-45deg, rgba(200, 200, 200, .5), rgba(100, 200, 250, .5)) fixed,
  url(image/suken_lv2.jpg) no-repeat center center;
  background-size: cover;
  }
    p {
        font-size: 60%;
    }
  .line-1 {
    font-size: 120%;
    max-width: 15em;
  }
}




